li {
    text-align: center;
    list-style: none;
}

img {
    width: 200px;
    height: 300px;
}

.books {
    padding: 3% 0 0 0;
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
}

.filter-form {
    padding: 3% 0 0 0;
    display: grid;
    text-align: center;
    grid-row-gap: 1em;
    grid-template-areas: ". . ."
                         ". . ."
                         ". b .";
    grid-template-columns: repeat(3, 1fr);
}

.filter-form .filter-label {
    text-align: center;
}

.filter-label {
    font: 1.5em 'Rubik', sans-serif;
}

.sort-button {
    font: 1.5em 'Rubik', sans-serif;
}

.sort-button {
    padding: 2% 0;
    width: 80%;
    grid-area: b;
    background: rgb(57, 214, 29);
    color:white;
    border: 0;
    cursor: pointer;
    margin-left: 10%;
}

p input, p select {
    width: 75%;
    padding: 2%;
}

.not-exist {
    text-align: center;
    font: 2em 'Rubik', sans-serif;
}

.book-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.book-price {
    font: 1em 'Rubik', sans-serif;
    font-weight: bold;
    text-align: left;
    color: seagreen;
    padding: 0 0 0 5%;
}

.buy-book {
    background-color: crimson;
    cursor: pointer;
    color: white;
    margin: 0 3%;
    padding: 8% 0;
    font: 1em 'Rubik', sans-serif;
    font-weight: bold;
}

