.book, .book-picture, .buttons {
    display: grid;
}

.book {
    padding: 2% 0 0 0;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 2fr;
}

.book-picture {
    grid-template-rows: 7fr 1fr;
    grid-row-gap: 1em;
}

.book-info {
    font: 1.5em 'Rubik', sans-serif;
}

.book-price, .book-language, .book-genre, .book-description {
    font: 1em 'Rubik', sans-serif;
}

.book-price {
    color: seagreen;
}

.book-language {
    color: coral;
}

.book-genre {
    color: coral;
}

.book-info p {
    text-align: left;
}

img.bookimg {
    width: 100%;
    height: auto;
}

.buttons {
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 1em;
}

.buttons-anonymous {
    grid-template-columns: 1fr;
}

.save-button {
    background: rgb(22, 206, 22);
}

.buy-button {
    background: crimson;
}

.save-button , .buy-button {
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    padding: 5% 0;
    font: 2em 'Rubik', sans-serif;
}