h1 {
    text-align: center;
    font: 3em 'Rubik', sans-serif;
}

li {
    text-align: center;
    list-style: none;
}

img {
    width: 200px;
    height: 300px;
}

.not-exist {
    text-align: center;
    font: 2em 'Rubik', sans-serif;
}

.books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.filter-form {
    padding: 3% 0 0 0;
    display: grid;
    text-align: center;
    grid-row-gap: 1em;
    grid-template-areas: ". . ."
                         ". . b";
    grid-template-columns: repeat(3, 1fr);
}

.filter-form .filter-label {
    text-align: center;
}

.filter-label {
    font: 1.5em 'Rubik', sans-serif;
}

.sort-button {
    font: 1.5em 'Rubik', sans-serif;
}

.sort-button {
    width: 80%;
    grid-area: b;
    background: rgb(57, 214, 29);
    color:white;
    border: 0;
    cursor: pointer;
    margin-left: 10%;
}

p input, p select {
    width: 75%;
    padding: 2%;
}